// vars

$whiteBgColor: #FFFFFF;
$whiteColorText: #1A1A1A;
$whiteBlockColor: #F3F2F9;

$darkBgColor: #000000;
$darkColorText: #FFFFFF;
$darkBlockColor: #373640;

$btnColor: linear-gradient(225deg, #542285 0%, #222266 100%);
$activeBlockColor: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
// null

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:before,
  &:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  list-style: none;
}

.wrapper {
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
}

// header

.header {
  padding: 50px 0;
  background: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
  color: #fff;
  @media (min-width: 375px) {
    padding: 80px 0;
  }
  &__title {
    font-size: 24px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.261176px;
    @media (min-width: 375px) {
      font-size: 34px;
      letter-spacing: 0.37px;
    }
  }
  &-content {
    position: relative;
    &__list {
      @media (min-width: 375px) {
        margin-top: 20px;
      }
      @media (min-width: 414px) {
        margin-top: 33px;
      }
    }
    &__item {
      padding: 5px 0 5px 20px;
      font-size: 12px;
      line-height: 14px;
      position: relative;
      @media (min-width: 375px) {
        padding: 15px 0 15px 20px;
      }
      @media (min-width: 414px) {
        padding: 15px 0 15px 33px;
      }
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.69) 50%, rgba(255, 255, 255, 0.01) 100%);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.76;
      }
      &:last-child:before {
        content: '';
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.69) 50%, rgba(255, 255, 255, 0.01) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.76;
      }
    }
    &__image {
      display: none;
      position: absolute;
      top: -18%;
      left: 48%;
      z-index: 15;
      filter: drop-shadow(10px 0px 20px rgba(0, 0, 0, 0.2));
      &-small {
        display: inline;
        @media (min-width: 375px) {
          display: none;
        }
      }
      &-med {
        @media (min-width: 375px) {
          display: inline;
          top: -14%;
          left: 45%;
        }
        @media (min-width: 414px) {
          display: none;
        }
      }
      &-big {
        @media (min-width: 414px) {
          display: inline;
          top: -13%;
          left: 44%;
        }
      }
    }
  }
  &-lines {
    &-small {

      display: block;
      @media (min-width: 375px) {
        display: none;
      }
      & .message {
        animation-delay: 1.5s;
      }
    }
    &-med {
      @media (max-width: 374px) {
        display: none;
      }
      @media (min-width: 375px) {
        display: block;
      }
      @media (min-width: 414px) {
        display: none;
      }
      & .message {
        animation-delay: 1.8s;
      }
    }
    &-big {
      @media (max-width: 413px) {
        display: none;
      }
      @media (min-width: 414px) {
        display: block;
      }

    }
    &_up {
      position: absolute;
      top: 0;
      left: 0;
    }
    &_down {
      position: absolute;
      top: 2px;
      left: 0;
      @media (min-width: 375px) {
        top: 0;
      }
    }
  }
}
.message {
  opacity: 0;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  color: black;
  padding: 6px 9.5px;
  position: absolute;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(90, 0, 124, 0.258332);
  animation-name: inv;
  animation-duration: 0.3s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
  &::after {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: black;
    border: 3px solid #fff;
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::before {
    content: "";
    border: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
  }
  &-up {
    top: -7px;
    right: 20px;
    @media (min-width: 375px) {
      top: 16px;
      right: 37px;
    }
    @media (min-width: 414px) {
      top: 26px;
      right: 18px;
    }
    &::after{
      background-color: #EE304E;
    }
  }
  &-down {
    top: 47px;
    right: 20px;
    @media (min-width: 375px) {
      top: 103px;
      right: 37px;
    }
    @media (min-width: 414px) {
      top: 125px;
      right: 18px;
    }
    &::after{
      background-color: #04CD00;
    }
  }
  &__text {

  }
}
#header-images__up {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5.5s linear forwards;
}
#header-images__down {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes inv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// white theme

.services {
  padding-top: 81px;
  @media (min-width: 375px) {
    padding-top: 118px;
  }
  @media (min-width: 414px) {
    padding-top: 121px;
  }

  &-container {
    max-width: 280px;
    margin: 0 auto;
    @media (min-width: 375px) {
      max-width: 335px;
    }
    @media (min-width: 414px) {
      max-width: 374px;
    }
  }

  &-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 11px 0;
    background: $btnColor;
    border-radius: 5px;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    border: none;
    margin-top: 13px;
    text-decoration: none;
    @media (min-width: 375px) {
      margin-top: 21px;
    }
    @media (min-width: 414px) {
      margin-top: 29px;
    }
  }

  &-prices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-price + .services-price {
    margin-left: 8px;
    @media (min-width: 375px) {
      margin-left: 10px;
    }
  }

  &-price {
    width: 88px;
    height: 112px;
    text-align: center;
    background-color: $whiteBlockColor;
    backdrop-filter: blur(9.06094px);
    padding: 6px 0 34px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.354546px;
    position: relative;
    cursor: pointer;
    @media (min-width: 375px) {
      width: 105px;
      height: 131px;
    }
    @media (min-width: 414px) {
      width: 118px;
      height: 151px;
    }
    &__title {
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0;
      font-weight: 700;
      @media (min-width: 375px) {
        font-size: 24px;
        line-height: 28px;
      }
      @media (min-width: 414px) {
        font-size: 24px;
        line-height: 28px;
      }
    }
    &__date {
      font-size: 11px;
      line-height: 13px;
      padding: 5px 0 3px;
      @media (min-width: 375px) {
        font-size: 13px;
        line-height: 16px;
        padding: 7px 0 6px;
      }
      @media (min-width: 414px) {
        padding: 12px 0 6px;
      }
    }
    &__month {
      font-size: 10px;
      line-height: 12px;
      @media (min-width: 375px) {
        font-size: 13px;
        line-height: 16px;
      }
    }

    &__sale {
      height: 15px;
      width: 100%;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: #FCA759;
      font-size: 7px;
      line-height: 15px;
      font-weight: 700;
      letter-spacing: 0.54px;
      text-transform: uppercase;
      margin-top: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0 0 5px 5px;
      @media (min-width: 375px) {
        font-size: 9px;
      }
    }
    &._save-80,
    &._save-90 {
      border-radius: 0 0 5px 5px;
    }
    &._save-80 .save_80 {
      display: block;
    }
    &._save-90 .save_90 {
      display: block;
    }
  }

  & ._active {
    background: $activeBlockColor;
    backdrop-filter: blur(9.06094px);
    color: #fff;
  }

  & ._sale {
    display: block;
  }
}
.save_80, .save_90 {
  position: absolute;
  top: -22%;
  left: 0;
  width: 100%;
  padding: 5px 0;
  font-size: 11px;
  line-height: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.78px;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  backdrop-filter: blur(9.06094px);
  display: none;
  @media (min-width: 375px) {
    font-size: 13px;
    top: -19%;
  }
  @media (min-width: 414px) {
    top: -15%;
  }
}
.save_80 {
  background: #FCBF59;
}
.save_90 {
  background: #FCA759;
}

.footer {
  text-align: center;
  font-size: 11px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.4);
  padding: 17px 0;
  @media (min-width: 375px) {
    padding: 20px 0 39px;
    position: relative;
    &:after {
      content: "";
      width: 134px;
      height: 5px;
      background-color: #000000;
      border-radius: 100px;
      position: absolute;
      bottom: 14px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media (min-width: 414px) {

  }
}

// dark theme

.dark .services {
  background-color: $darkBgColor;
  &-price {
    background-color: $darkBlockColor;
    &__title {
      color: $darkColorText;
    }
    &__date {
      color: $darkColorText;
    }
    &__month {
      color: $darkColorText;
    }
  }
}

